
/*
input{

margin-left: 10px;

height: 40px;

width: 300px;
margin-top: 5px;



}

.form{
display: flex;

flex-direction: column;

justify-content: center;

align-items: center;


}

button{

margin-top: 60px;
background-color: black;

color: white;

width: 170px;
height: 50px;

cursor: pointer;


}

button:hover{

background-color: rgb(240, 11, 49);


}

.dhoni{
margin-top: 10px;


}

.don{

    margin-top: 10px;

}

.input3{

margin-top: 10px;


}


.emil{

display: flex;

justify-content: center;
align-items: center;

flex-direction: column;

margin-top: 50px;


}


p{
display: flex;

border: 2px solid black;

}


*/




.message-box {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: #f8f9fa; /* Optional: Adds a light grey background */
    margin-bottom: 10px; /* Optional: Adds spacing between boxes */
  }
  



